.header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
  line-height: 150%;
}

.title-part-one {
  color: #1919bf;
}

.title-part-two {
  color: #8a8ab1;
}

.login-form {
  padding-bottom: 50px;
}

.create-account-form {
  padding-top: 25px;
}

.main-box {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.message-body {
  display: inline-block;
}
